@model List<GetUserResult>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Users list</h2>
<a asp-controller="User" asp-action="UserRegistration" class="btn btn-primary" role="button" data-bs-toggle="button">Toggle link</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  @{
    var counter = 1;
    foreach (var user in @Model)
    {
      <tr>
        <th scope="row">@counter++</th>
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td> <i class="bi bi-pencil-square"></i> </td>
      </tr>
    }
  }
  </tbody>
</table>
